@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.youtube{
    width: 1080px;
    height: 480px;
}

.video{
    height: "500px";
    width: "150vh" ;
}

@media (min-width:600px) and (max-width:1000px){
    .youtube{
        width: 720px;
        height: 360px;
    }
}

@media (min-width:300px) and (max-width:600px){
    .youtube{
        width: 480px;
        height: 200px;
    }
}

